body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 20px 150px;
}

.header-text {
  font: 700 24px sans-serif;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.header-link {
  font: 18px sans-serif;
  color: #E5E7EB
}

.main {

}

.text-image-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #1F2937;
  padding: 100px 150px;
}

.text-image-textbox {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  flex-direction: column;
}

.text-image-header {
  display: flex;
  margin: 10px;
  font: 900 48px sans-serif;
  color: #F9FAF8;
}

.text-image-text {
  display: flex;
  margin: 10px;
  font: 18px sans-serif;
  color: #E5E7EB;
}

.text-image-button {
  padding: 10px 40px;
  border-radius: 12px;
  border-style: none;
  font: 600 18px sans-serif;
  color: #F9FAF8;
  background-color: #3882f6;
}

.text-image-image{
  display: flex;
  width: 50%;
  /* Makes image placeholder height take up the full height without image.  Better solution?*/
  align-self: stretch;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: #E5E7EB;
}

.image-subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 150px;
}

.card-title {
  font: 900 36px sans-serif;
  color: #1F2937
}

.card-div {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  flex-basis: 200px 200px;
}

.card-image {
  display: flex;
  height: 200px;
  width: 200px;
  border: solid;
  border-color: #3882f6;
  border-radius: 12px;
  border-width: thick;

}

.card-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font: 18px sans-serif;
  color: gray;
  padding: 15px;
}

.quote {

}

.quote-text {

}

.quote-author {

}

.action-call {

}

.action-box {

}

.action-text {

}

.action-text .header {

}

.action-text .text {

}

.sign-up-button {

}

.footer {

}