.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 20px 100px;
}

.header-text {
  font: bold 24px sans-serif;
  font-weight: ;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  font: 18px sans-serif;
  color: #E5E7EB
}

.header-link {

}

.main {

}

.text-image {

}

.text-image-box {

}

.text-image-header {

}

.text-image-box .text {

}

.text-image-button {
  
}

.image-subtext {

}

.card-title {

}

.card-div {

}

.card {

}

.card-image {

}

.card-text {

}

.quote {

}

.quote-text {

}

.quote-author {

}

.action-call {

}

.action-box {

}

.action-text {

}

.action-text .header {

}

.action-text .text {

}

.sign-up-button {

}

.footer {

}